name: Build Android APK

on:
  push:
    branches:
      - main  # Trigger when you push to main branch

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-dev git build-essential libssl-dev
        pip install --upgrade pip
        pip install cython kivy buildozer

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: MazeRunner-APK
        path: bin/*.apk
